.container {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
}
#p1 {
  background: url("../assets/scene1.png");
  background-size: 100% 100%;
  z-index: 5;
}

#p2 {
  background: url("../assets/scene2.png");
  background-size: 100% 100%;
  z-index: 3;
}

#p3 {
  background: url("../assets/scene3.png");
  background-size: 100% 100%;
  z-index: 1;
}

input{
  z-index: 10 !important;
}

.effectIn {
  opacity: 0;
  z-index: 7 !important;
  -webkit-animation: effectIn 3s linear forwards;
  -webkit-transform-origin: 70% 70%;
  /*-webkit-transform: scale(1);*/
  -moz-animation: effectIn 3s linear forwards;
  -moz-transform-origin: 70% 70%;
  /*-moz-transform: scale(1);*/
}

.effectOut {
  opacity: 1;
  -webkit-animation: effectOut 3s linear forwards;
  -webkit-transform-origin: 70% 70%;
  /*-webkit-transform: scale(8);*/
  -moz-animation: effectOut 3s linear forwards;
  -moz-transform-origin: 70% 70%;
  /*-moz-transform: scale(8);*/
}

@keyframes effectIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
}

@keyframes effectOut {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
  }
}

.tree {
  width: 27.1rem;
  height: 42.4rem;
  position: absolute;
  bottom: 10rem;
  left: 15rem;
  background: url("../assets/tree.png");
  background-size: 200% 100%;
  -webkit-animation: treeAni 1s steps(2) infinite;
  -moz-animation: treeAni 1s steps(2) infinite;
}

@keyframes  treeAni{
  0%{
    background-position: 0% 100%;
  }
  100% {
    background-position: 200% 100%;
  }
}

.moon {
  position: absolute;
  top: 15rem;
  left: 75rem;
  width: 30rem;
  height: 30rem;
  background-color: #FCF0BC;
  border-radius: 100%;
  -webkit-box-shadow: 0 0 10rem #FCF0BC;
  -webkit-animation: moonAni 2s steps(5) infinite;
  -moz-box-shadow: 0 0 10rem #FCF0BC;
  -moz-animation: moonAni 2s steps(5) infinite;
}

@keyframes moonAni {
  0% {
    -webkit-box-shadow: 0 0 10rem #FCF0BC;
    -moz-box-shadow: 0 0 10rem #FCF0BC;
  }

    50% {
      -webkit-box-shadow: 0 0 5rem #FCF0BC;
      -moz-box-shadow: 0 0 5rem #FCF0BC;
    }

    100% {
      -webkit-box-shadow: 0 0 10rem #FCF0BC;
      -moz-box-shadow: 0 0 10rem #FCF0BC;
    }
}

.cloud {
  width: 10rem;
  height: 10rem;
  /*-webkit-box-shadow: 1rem 1rem 5rem #333;
  -moz-box-shadow: 1rem 1rem 5rem #333;*/
  position: absolute;
  left: 5rem;
  top: 25rem;
  background: #60768D;
  border-radius: 50%;
  box-shadow: #60768D 15rem -2rem 0 -1rem, #60768D 5rem -5rem 0 1rem, #60768D 12rem -6rem 0 -1rem, #60768D 8rem 2rem,#60768D 5rem 2rem 0 -2rem;
  position: absolute;
  -webkit-animation: cloudAni 1s linear infinite;
  -moz-animation: cloudAni 1s linear infinite;
}

@keyframes cloudAni {
  0%{
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
  }
  50%{
    -webkit-transform: translateY(-2rem);
    -moz-transform: translateY(-2rem);
  }
  100%{
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
  }
}

.deer {
  position: absolute;
  right: 25rem;
  top: 30rem;
  height: 8.07rem;
  width: 22.23rem;
  background: url("../assets/deer.png");
  background-size: 400%;
}

.deerAnimation {
  -webkit-animation: deerAni 1s steps(4) infinite;
  -webkit-animation: deerAni 1s steps(4) infinite;
}

@keyframes deerAni {
  0%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 400% 100%;
  }
}
